---
layout: default
---

<div class="c-page">
		<article class="c-article">
   	 	{% include header.html %}
    	<div class="c-article__main">
        {{ content }}
		{% if page.title != 'Home' %}
			{% include comment.html %}
		{% endif %}
		<script>
			try {
				const storedState = localStorage.getItem("appState");
				const app = Elm.Main.init({
					// TODO: can I initialise on a node here or best to just take whole page?
					flags: JSON.parse(storedState)
				});
				app.ports.storeState.subscribe(state => {
					localStorage.setItem("appState", state);
					console.log("Stored state");
				});
				if (app.ports.logError) {
					app.ports.logError.subscribe(msg => {
						console.error(msg);
					});
				}
					if (app.ports.calculateElevationProfileData) {
					app.ports.calculateElevationProfileData.subscribe(gpxData => {
						let profileData = elevationProfileData(gpxData);
						console.log(JSON.parse(profileData));
						app.ports.receiveElevationProfileData.send(profileData);
					});
				}
				if (app.ports.requestLocation) {
					app.ports.requestLocation.subscribe(function() {
						if (!navigator.geolocation) {
							app.ports.receiveLocation.send({ error: "position_unavailable" });
							return;
						}
						navigator.geolocation.getCurrentPosition(
							function(pos) {
								app.ports.receiveLocation.send({
									lat: pos.coords.latitude,
									lon: pos.coords.longitude,
									accuracy: pos.coords.accuracy
								});
							},
							function(err) {
								var code = "position_unavailable";
								if (err.code === 1) code = "permission_denied";
								if (err.code === 3) code = "timeout";
								app.ports.receiveLocation.send({ error: code });
							},
							{ enableHighAccuracy: true, timeout: 10000 }
						);
					});
				}
			}
			catch(err) {
				console.error(err);
				if (window.confirm("Error initialising app, please see console.\nWould you like to start a fresh?")) {
					localStorage.removeItem("appState");
					location.reload();
				}
			}
		</script>
    	</div>
    	{% include footer.html %}
		</article>
</div>